.btn-white {
  border: 2px solid #FFDB4C;
}

.btn-white:hover {
  background-color: rgba(158, 158, 158, 0.07) !important;
}

a {
  color: #f44336;
}


md-input-container > md-icon {
  color: #F89E00 !important;
}