.message-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  background-color: white;
  z-index: 0;
}

.message-page__contacts {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 275px;
  margin-left: 0;
  transition: .3s;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(0,0,0,.3);
  z-index: 3;
}

.message-page__body {
  position: absolute;
  left: 275px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .3s;
}

.message-page__messages {
  position: absolute;
  top: 0;
  margin-bottom: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: white; */
  overflow-y: auto;
}

.message-page__send {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 90px;
}

.message-page__body__wrapper {
  margin: 0 20px;
  /* max-width: 600px; */
  padding: 0 15px;
  /* background: white; */
  min-height: 100%;
}

.message-page__send__textarea {
  width: 100%;
}
.message-page__send__textarea textarea {
  width: 100%;
}

.message-page__contacts .tabs .tab {
  width: 50%;
  padding: 6px;
  margin: 0 !important;
}

.message-page__contacts__content {
  position: absolute;
  top: 92px;
  bottom: 0;
  width: 300px;
  padding-right: 25px;
  overflow-y: auto;
  background: white;
}

.message-page__contacts__content md-tabs-content-wrapper {
  width: 275px;
}

.message-page__contacts__content md-list-item {
  min-height: 75px;
  cursor: pointer;
  border-bottom: 1px solid #EFEFEF;
  display: block;
  width: 275px;
}
.message-page__contacts__content md-list-item.active {
  background: rgb(250, 250, 250);
  border-right: 2px solid #FFDB4C;
}

.message-page__contacts__content md-list-item p {
  color: #999;
  font-weight: 400 !important;
  text-overflow: ellipsis;
  max-width: 180px;
}

.message-page__contacts__content md-list-item h3 {
  max-width: 150px;
  text-transform: uppercase;
  font-size: 13px !important;
  color: #575757;
  font-weight: 500 !important;
}

.message-page__contacts__content md-list-item .md-avatar{
  margin-top: 8px;
  width: 45px;
  height: 45px;
}

.message-page__contacts__content md-list-item:hover {
  background: #f7f7f7;
}

.message-page__contacts .tabs {
  box-shadow: 0px 0px 1px rgba(0,0,0, .4);
}


.message-page__send__actions {
  margin-top: -17px;
  padding-bottom: 4px;
}

.message-page__contacts__footer {
  height: 55px;
  background: #FAFAFA;
  /* border-top: 1px solid #E4E4E4; */
  position: absolute;
  bottom: 0;
  width: 275px;
  /* box-shadow: 0px 0px 10px white; */
}

.message-page__contacts__footer .md-button {
  margin: 0 !important;
  width: 50%;
  height: 100%;
  vertical-align: top;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  border-radius: 0;
  color: #636363;
  /* border-top: 1px solid #E4E4E4; */
  box-shadow: 0 -1px 0 #E4E4E4;
}

.message-page__contacts__footer .md-button:first-child {
  border-right: 1px solid #E4E4E4;
}

.message-page__contacts__footer .md-button.active {
  /* background: white !important; */
  cursor: default;
  /* box-shadow: none; */
  color: #2278CC;
}

.message-page__contacts__footer .md-button .icon-account-multiple-outline {
  font-size: 29px;
  vertical-align: top;
}

.message-page__contacts__footer .md-button .icon-list {
  font-size: 21px;
  vertical-align: top;
  position: relative;
  top: 2px;
  padding-bottom: 0px;
  height: 29px;
  display: inline-block;
}


.message-page__send__attach {
  font-size: 14px;
  /* cursor: pointer; */
}

.message-page__send__attach .icon-attachment {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 5px;
}


.message-page__send__attach span {
  vertical-align: middle;
  padding-left: 8px;
  border-left: 1px solid;
  /* cursor: pointer; */
}


.message-page__contacts__search {
  height: 50px;
  padding: 8px 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.message-page__contacts__search input {
  height: 35px;
  width: 100%;
  /* border-radius: 10px; */
  /* background: #FAFAFA; */
  padding-left: 30px;
  transition: .3s;
  border: none;
  /* border-bottom: 1px solid #EAEAEA; */
}

.message-page__contacts__search input:focus {
  background: white;
}


.message-page__contacts__search i.icon-magnify {
  position: absolute;
  top: 15px;
  left: 19px;
  font-size: 21px;
  color: #9A9A9A;
}


.message {

padding: 11px 0;position: relative;}

.message__avatar {display: none;}

.message__body {padding: 16px 20px;margin-left: 10px;min-height: 55px;background: rgba(255, 243, 194, 0.66);position: relative;border-radius: 5px;}

.message__fullname {

font-weight: 500;display: inline-block;text-decoration: none;color: black;}

.message__text {

margin-top: 2px;margin-bottom: 6px;font-family: Roboto;font-size: 16px;white-space: pre-wrap;}

.message__created_at {

color: #999;font-size: 13px;position: absolute;right: 13px;bottom: 10px;}


.message__avatar img {
  border-radius: 40px;
  width: 44px;
}


.message-page__contacts__time {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 13px;
  line-height: 21px;
  font-weight: 500;
  color: #585858;
}


.message__head {
  padding: 0 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.md-list-item-author {
  /* height: 20px; */
}


.message-page__contacts__content md-list-item .md-list-item-text {
  margin: 14px 0 !important;
}


.message__body:before {
  content: "";
  display: block;
  position: absolute;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #FFF7D7 transparent transparent;
}


.message-page__send__attach label {
  cursor: pointer;
}

.message-page__send__attach a {
  margin-bottom: 5px;
  display: inline-block;
}

.message-page__send__attach label:hover {
  color: #005EA9;
}
.message__attachments {
  padding: 0;
  list-style: none;
}


.message-page__contacts__count {
  position: absolute;
  top: 14px;
  right: 13px;
  background: #F44336;
  line-height: 16px;
  color: white;
  font-size: 13px;
  padding: 1px 8px;
  border-radius: 4px;
}


.message.my .message__avatar {
  display: none;
}

.message.my .message__body {
  background: #F4F7FA;
  margin-left: 0;
  margin-right: 10px;
}

.message.my .message__body:before {left: auto;right: -8px;border-width: 8px 0 8px 8px;border-color: transparent transparent transparent #F4F7FA;}


.message-page__contacts__tabs {
  position: relative;
  z-index: 3;
  background: white;
  /* border-bottom: 1px solid #E1E1E1; */
}


.message.new_offer .message__body {background: rgba(0, 128, 0, 0.13);}

.message.new_offer .message__body:before {
  border-color: transparent transparent transparent #DEEFDE;
}
