.message-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  background-color: white;
  z-index: 0;
}

.message-page__contacts {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 275px;
  margin-left: 0;
  transition: .3s;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(0,0,0,.3);
  z-index: 3;
}

.message-page__body {
  position: absolute;
  left: 275px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .3s;
}

.message-page__messages {
  position: absolute;
  top: 0;
  margin-bottom: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow-y: auto;
}

.message-page__send {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 90px;
}

.message-page__body__wrapper {
  margin: 0 20px;
  /* max-width: 600px; */
  padding: 0 15px;
  background: white;
}

.message-page__send__textarea {
  width: 100%;
}
.message-page__send__textarea textarea {
  width: 100%;
}

.message-page__contacts .tabs .tab {
  width: 50%;
  padding: 6px;
  margin: 0 !important;
}

.message-page__contacts__content {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 300px;
  padding-right: 25px;
  overflow-y: auto;
  background: white;
}

.message-page__contacts__content md-tabs-content-wrapper {
  width: 275px;
}

.message-page__contacts__content md-list-item {
  min-height: 75px;
  cursor: pointer;
}
.message-page__contacts__content md-list-item.active {
  background: rgb(250, 250, 250);
  border-right: 2px solid #FFDB4C;
}

.message-page__contacts__content md-list-item p {
  color: #999;
  font-weight: 400 !important;
  text-overflow: ellipsis;
  max-width: 180px;
}

.message-page__contacts__content md-list-item h3 {
  max-width: 150px;
}

.message-page__contacts__content md-list-item .md-avatar{
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.message-page__contacts__content md-list-item:hover {
  background: #f7f7f7;
}

.message-page__contacts .tabs {
  box-shadow: 0px 0px 1px rgba(0,0,0, .4);
}


.message-page__send__actions {
  margin-top: -17px;
  padding-bottom: 4px;
}

.message-page__contacts__footer {
  height: 55px;
  background: #FAFAFA;
  /* border-top: 1px solid #E4E4E4; */
  position: absolute;
  bottom: 0;
  width: 275px;
  /* box-shadow: 0px 0px 10px white; */
}

.message-page__contacts__footer .md-button {
  margin: 0 !important;
  width: 50%;
  height: 100%;
  vertical-align: top;
  font-size: 12px;
  text-transform: none;
  line-height: 14px;
  border-radius: 0;
  color: #636363;
  /* border-top: 1px solid #E4E4E4; */
  box-shadow: 0 -1px 0 #E4E4E4;
}

.message-page__contacts__footer .md-button:first-child {
  border-right: 1px solid #E4E4E4;
}

.message-page__contacts__footer .md-button.active {
  /* background: white !important; */
  cursor: default;
  /* box-shadow: none; */
  color: #2278CC;
}

.message-page__contacts__footer .md-button .icon-account-multiple-outline {
  font-size: 29px;
  vertical-align: top;
}

.message-page__contacts__footer .md-button .icon-list {
  font-size: 21px;
  vertical-align: top;
  position: relative;
  top: 2px;
  padding-bottom: 0px;
  height: 29px;
  display: inline-block;
}


.message-page__send__attach {
  font-size: 14px;
  cursor: pointer;
}

.message-page__send__attach .icon-attachment {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 5px;
}


.message-page__send__attach span {
  vertical-align: middle;
  padding-left: 8px;
  border-left: 1px solid #636363;
  /* cursor: pointer; */
}


.message-page__contacts__search {
  height: 50px;
  padding: 8px 16px;
  box-shadow: 0px 0px 4px rgba(0,0,0,.15);
  position: relative;
  z-index: 2;
}

.message-page__contacts__search input {
  height: 35px;
  width: 100%;
  border-radius: 10px;
  background: #FAFAFA;
  padding-left: 40px;
  transition: .3s;
  border: 1px solid #EAEAEA;
}

.message-page__contacts__search input:focus {
  background: white;
}


.message-page__contacts__search i.icon-magnify {
  position: absolute;
  top: 15px;
  left: 28px;
  font-size: 21px;
  color: #9A9A9A;
}


.message {

padding: 11px 0;}

.message__avatar {

}

.message__body {

padding: 0 20px;}

.message__fullname {

font-weight: 500;display: inline-block;text-decoration: none;color: black;}

.message__text {

margin-top: 2px;}

.message__created_at {

color: #999;font-size: 13px;}


.message__avatar img {
  border-radius: 40px;
  width: 44px;
}


.message-page__contacts__time {
  /* position: absolute; */
  /* top: 13px; */
  /* right: 5px; */
  font-size: 13px;
  color: #999;
  position: relative;
  left: 8px;
  line-height: 21px;
}


.message__head {
  padding: 0 20px;
}

.md-list-item-author {
  height: 20px;
}
