.position-map {
  height: 215px;
}
.upload-image {
  height: 152px;
  vertical-align: middle;
  width: 152px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  text-align: center;
  padding: 56px 0;
  color: #6A6A6A;
  margin: 0 15px 15px 0;
}
.upload-image i {
  font-size: 35px;
}
.upload-image__label {
  font-size: 10px;
  margin-top: -10px;
}
.upload-file {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 14px 0 12px;
  margin: 0;
  color: #6A6A6A;
}
.upload-file input[type="file"],
.upload-image input[type="file"] {
  display: none;
}
.upload-file i {
  font-size: 18px;
  vertical-align: middle;
  padding-right: 5px;
}
.upload-file span {
  vertical-align: middle;
}
.positions-table > tbody > tr:not(:first-child) {
  display: none;
}
.positions-table > tbody.active > tr:not(:first-child) {
  display: table-row;
}
.positions-table tbody.active .icon-chevron-down {
  display: inline-block;
}
.positions-table tbody.active .icon-chevron-right {
  display: none;
}
.positions-table tbody:not(.active) .icon-chevron-down {
  display: none;
}
.positions-table tbody:not(.active) .icon-chevron-right {
  display: inline-block;
}
.position-modal {
  width: 870px;
  max-width: 100%;
  margin: 15px;
  overflow-x: hidden;
}

.position-modal__header {
  min-height: 70px;
  max-height: 70px;
  padding: 18px 18px;
  background: transparent !important;
  color: #272727 !important;
  border-bottom: 1px solid #E1E1E1;
  box-shadow: 0px -1px 6px rgba(0,0,0,.2);
  z-index: 99;
}
.position-modal__user {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}
.position-modal__user i {
  display: block;
  font-size: 12px;
  color: #7B7B7B;
  white-space: nowrap;
}
.position-modal__avatar {
  display: inline-block;
}
.position-modal__title {
  font-size: 16px;
}

.position_show {
  padding: 0px;
  transform: scale(1);
  transition: .3s;
  opacity: 1;
  padding-top: 15px;
}
.position_show.active {
  transform: scale(.8);
  opacity: 0;
}
md-icon.icon-calendar {
  font-size: 22px;
  color: #5C5C5C;
}

.disabled-show md-input-container.md-default-theme .md-input[disabled],
.disabled-show md-input-container .md-input[disabled],
.disabled-show md-input-container.md-default-theme .md-input [disabled],
.disabled-show md-input-container .md-input [disabled] {
  color: rgba(0,0,0,0.87);
  border-color: rgba(0,0,0,0.12);
  background-image: none;
  -webkit-appearance: none;
  opacity: 1;
}

md-dialog.position-modal md-dialog-content {
  -webkit-order: 0; 
  -ms-flex-order: 0;
  order: 0;
}

.position-modal__footer {
  padding: 6px 10px;
  background: #f0f0f0;
  overflow: hidden;
  text-align: right;
  height: 65px;
  min-height: 65px;
}

.position_show md-input-container {
  margin: 8px 0;
}

.position-modal__sep {
  height: 15px;
  width: 1px;
  background: #7B7B7B;
  display: inline-block;
  vertical-align: top;
  margin: 11px 25px;
}

.position-modal__rating {
  display: inline-block;
  vertical-align: top;
  margin: 6px 15px;
}


.position-modal__favorite {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  margin-top: 6px;
  color: #c3c3c3;
  cursor: pointer;
}

.position-modal__favorite:hover,  .position-modal__favorite.active{
  color: #ffc107;
}


.position-info {
  margin-top: 5px;
}


.position-modal__offer {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  background: white;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  margin-left: 100%;
}

.position-modal__offer.active {
  visibility: visible;
  opacity: 1;
  margin-left: 0;
  overflow-y: auto;
}
.position-modal__back {
  border-right: 1px solid rgba(225, 225, 225, 0.27);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  background: rgba(231, 231, 231, 0.2);
  font-size: 34px;
  text-align: center;
  color: #6B6B6B;
  cursor: pointer;
}


.position-modal__back:hover {
  background: rgba(231, 231, 231, 0.33);
}


.position-modal__date {
  display: inline-block;
  vertical-align: top;
  margin: 7px 15px;
  font-size: 20px;
  font-weight: lighter;
  color: #7B7B7B;
}


.position-modal__offer__content {
  padding: 0;
  padding-left: 75px;
  height: 100%;
}

.position-modal__suitable {
  padding-top: 15px !important;
  /* min-width: 330px; */
}

.position-modal__suitable .suitable {
  margin-top: 10px;
  max-width: 360px;
}

.position-modal__other-offers {
  border-left: 1px solid #E1E1E1;
  padding-top: 15px !important;
  min-width: 266px;
  position: relative;
}

.add-offer {
  width: 100%;
  max-width: 360px;
  margin: 15px 0;
}


.add-offer i {
  font-size: 28px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.position-modal__back-text {
  display: none;
  font-size: 16px;
  text-align: left;
}


.position-modal__other-offer {
  border-bottom: 1px solid #e5e5e5;
  height: 90px;
  cursor: pointer;
  padding: 8px 16px;
  position: relative;
  width: 100%;
  line-height: 18px;
  font-size: 14px;
}

.position-modal__other-offer:hover {
  background: #f7f7f7;
}

.position-modal__other-offer:first-child {
  border-top: 1px solid #e5e5e5;
}


.position-modal__other-offer__date {
  font-weight: 500;
}

.position-modal__other-offer__title {
  font-weight: 500;
}
.position-modal__other-offers__list {
  margin-top: 10px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-bottom: 1px solid #E1E1E1;
  box-shadow: -4px 0px 6px rgba(0,0,0,.2) inset;
}


.position_form {
  padding: 15px !important;
}


.profile-positions__content__no {
  padding: 60px 20px;
  font-size: 24px;
  text-align: center;
}


.positions-filter {
  padding: 20px 20px 10px 13px;
  /* border-bottom: 1px solid #C7C7C7; */
}


.positions-filter__search {
  /* max-width: 400px; */
}

.positions-filter__search input[type="text"] {
  padding-left: 50px;
  height: 41px;
  border: none;
  width: 100%;
  border-bottom: 1px solid #C7C7C7;
}

.positions-filter__search i {
  position: absolute;
  z-index: 2;
  color: #505050;
  font-size: 24px;
  padding: 10px;
}

.page-map .md-dialog-container {
  -webkit-justify-content: flex-start;
  -ms-flex-pack:  flex-start;
  justify-content:  flex-start;
}
