.profile-page {
  /* padding: 20px; */
}

.profile-info {
  /* padding-right: 0 !important; */
}
.profile-avatar {
  /* max-width: 160px !important; */
  margin: 24px 0 0 18px;
  overflow: hidden;
}
.profile-avatar .md-button {
  margin: 0;
  width: 100%;
  margin-top: 5px;
}

.profile-info md-input-container {
  margin-bottom: 5px;
}

.profile-map {
  height: 280px;
  margin-bottom: 15px;
  border-top: 3px solid rgb(255, 219, 76);
  border-bottom: 3px solid rgb(255, 219, 76);
}

.profile-info .md-title {
  padding: 5px 17px;
  margin-top: 20px;
}
