.sign {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  transition: .3s;
  overflow: hidden;
}

.sign__left {
  background: url(/login.jpg);
  background-size: cover;
  background-position: 50% 50%;
  left: -50%;
}

.sign__right {
  left: 50%;
}

.sign__left, .sign__right {
  transition: .3s;
  min-height: 100%;
  position: relative;
  background-color: white;
}

.sign.active {
  visibility: visible;
}

.sign.active .sign__right,
.sign.active .sign__left {
  left: 0;
}

.sign h2 {
  font-size: 30px;
  font-weight: 300;
  color: #616161;
}
