= render "landing/first_screen"
= render "landing/more_info_first"
= render "landing/features"
= render "landing/more_info_second"
= render "landing/reviews"
= render "landing/faq"
= render "landing/sign_bottom"