/*
*= require_tree ./agrofor
*= require_self
*/

.nav__link.active {
  box-shadow: -2px 0 0px #ffdb4c inset;
}

.search__btn {
  color: #2B2B2B;
  background: #ffdb4c;
}

.search__btn span {
  background: #ffdb4c;
}

.search__btn span:after {
  border-color: transparent transparent transparent #ffdb4c;
}

.search__btn span:hover {
  background: #ffe067;
}

.search__btn span:hover:after {
  border-color: transparent transparent transparent #ffe067;
}

.search__input input[type="text"]:focus {
  box-shadow: 0 0 0 2px #ffdb4c inset;
}

.tags .tags__add:before {
  border-right: 1px solid #d7b940;
}

.page-header {
  border-bottom: 2px solid rgb(255, 219, 76);
}

.position-map {
  box-shadow: 0px 0px 0px 3px #FFDB4C;
}

.profile-map {
  border-top: 3px solid rgb(255, 219, 76);
  border-bottom: 3px solid rgb(255, 219, 76);
}

.nav-link__count {
  background: #FFDB4C;
}

.tab.active:before {
  border-bottom: 2px solid rgb(253, 90, 62);
}

.position-modal .md-title span {
  border-bottom: 2px solid #FFDB4C;
}

.uploaded-images__container.border {
  border: 3px solid #FFDB4C;
}

.lightbox__footer__image.active:before {
  border: 4px solid #FFDB4C;
}

.marker-label:after {
  border-color: transparent #0d89ec transparent transparent;
}

.marker-label__head {
  background: #0d89ec;
}

  
.marker-label__head:before {
  background: #0d89ec;
}
  
.marker-label__body:before {
  background: #2196F3;
}
  
.marker-label:hover > .marker-label__body {
  background: #2c9bf4;
}

.marker-label__body {
  background: #2196F3;
}