/*
*= require_tree ./woodfor
*= require_self
*/


.nav__link.active {
  box-shadow: -2px 0 0px #4CAF50 inset;
}
.search__btn {
  color: #fff;
  background: #4CAF50;
}

.search__btn span {
  background: #4CAF50;
}

.search__btn span:after {
  border-color: transparent transparent transparent #4CAF50;
}

.search__btn span:hover {
  background: #66BB6A;
}

.search__btn span:hover:after {
  border-color: transparent transparent transparent #66BB6A;
}

.search__input input[type="text"]:focus {
  box-shadow: 0 0 0 2px #4CAF50 inset;
}

.tags .tags__add:before {
  border-right: 1px solid #43A047;
}

.page-header {
  border-bottom: 2px solid #4CAF50;
}

.position-map {
  box-shadow: 0px 0px 0px 3px #4CAF50;
}

.profile-map {
  border-top: 3px solid #4CAF50;
  border-bottom: 3px solid #4CAF50;
}

.nav-link__count {
  background: #4CAF50;
}