.disabled-show md-input-container.md-default-theme .md-input[disabled],
.disabled-show md-input-container .md-input[disabled],
.disabled-show md-input-container.md-default-theme .md-input [disabled],
.disabled-show md-input-container .md-input [disabled],
.disabled-show md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value {
  color: rgba(0,0,0,0.87);
  border-color: rgba(0,0,0,0.12);
  background-image: none;
  -webkit-appearance: none;
  opacity: 1;
}

.disabled-show md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-icon {
  display: none;
}

md-autocomplete[md-floating-label] md-input-container {
  padding-bottom: 0;
}

md-autocomplete {
  min-width: 100px;
}

md-checkbox .md-icon {
  border-width: 1px;
}

md-select-menu md-content {
  min-width: 65px;
}

md-input-container.md-block {
  width: 100%;
}

.md-select-value {
  min-width: 45px;
}


.md-chips .md-chip {
  font-size: 13px;
  min-height: 27px;
  line-height: 32px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  margin: 9px 6px 0 0;
  cursor: pointer;
}
.md-chips  md-icon {
  font-weight: lighter;
}

.md-highlight-checked {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

md-autocomplete[disabled] input {
  cursor: default;
}

.md-button i {
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 36px;
  padding: 8px 9px;
  font-size: 19px;
  text-align: center;
}