.sidebar {
  width: 270px;
  white-space: nowrap;
  background: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 999;
  margin: 0;
  transition: .5s;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.sidebar.opened {
  margin: 0;
}

.sidebar .hidden-scrollbar {
  height: 100%;
  width: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.sidebar__wrapper {
  width: 270px;
  min-height: 100%;
  display: table;
  height: 100%;
}

.logo {
  text-decoration: none;
  transition: .3s;
  display: block;
  margin: 20px 0;
  position: relative;
  z-index: 3;
  text-align: center;
}

.create-position {
  width: 100%;
  padding: 15px;
  display: block;
  cursor: pointer;
  box-shadow: none !important;
  border: none !important;
}

.create-position:hover {
  background: rgb(255, 226, 110);
}

.nav {
  display: block;
  padding: 15px 0;
}

.nav__link {
  padding: 11px 33px;
  display: block;
  text-decoration: none;
  transition: padding 0.3s;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}

.nav__link.active {
  box-shadow: -2px 0 0px #ffdb4c inset;
  color: black;
  background-color: whitesmoke;
}

.nav__link:hover {
  color: #333;
}

.nav__link i {
  vertical-align: middle;
  padding-right: 10px;
  font-size: 20px;
}

.nav__link span {
  vertical-align: middle;
}

.nav__profile {
  border-top: 1px solid #E4E4E4;
  /* border-bottom: 1px solid #E4E4E4; */
  padding-right: 0;
}

.nav__profile img {
  width: 50px;
  border-radius: 60px;
  float: left;
  margin-right: 15px;
}

.nav__profile__fio {
  padding: 10px 0 0 0;
  width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__profile__status {
  font-size: 13px;
  color: rgba(119, 119, 119, 0.81);
}

footer {
  text-align: left;
  background: #FAFAFA;
  /* margin-top: 20px; */
  /* transition: 0.3s; */
}

footer .nav__link:hover {
  background: #e7e7e7;
}



.nav-link__count {
  top: 0;
  position: absolute;
  right: 0;
  padding: 12px;
  background: #FFDB4C;
}
