a.logo.ng-hide ui-sref="map_path" ng-show="gon.settings.locale == 'ru'"
  = image_tag "logos/agrofor_ru.svg", width: 200, height: 108
a.logo.ng-hide ui-sref="map_path" ng-show="gon.settings.locale == 'en'"
  = image_tag "logos/agrofor_en.svg", width: 200, height: 108