a.logo.ng-hide ui-sref="map_path" ng-show="gon.settings.locale == 'ru'"
  = image_tag "logos/woodfor_ru.svg", width: 220, height: 108
a.logo.ng-hide ui-sref="map_path" ng-show="gon.settings.locale == 'en'"
  = image_tag "logos/woodfor_en.svg", width: 220, height: 108