h1 {
  text-overflow: ellipsis;
  overflow: hidden;
}

ui-view {
  min-height: 100%;
  height: 100%;
  display: block;
}

body {
  background-color: #f5f5f5 !important;
}

.page {
  top: 0;
  left: 270px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  transition: .5s;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

.page.not_sign {
  left: 125px;
}
.page.not_sign .map {
  position: fixed;
}

.page-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100%;
  background: white;
  box-shadow: 0px 0px 0px 1px #DBDBDB;
}
.page md-backdrop {
  display: none;
}
.page-table {
  width: 100%;
  min-height: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.page-map.page-background {
  display: none;
}
.page-layout {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /* padding: 15px 0; */
}
.page-header {
  background: white;
  position: relative;
  z-index: 1;
  min-height: 65px;
}
.page-content {
  background: white;
  min-height: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0px -1px 0px 1px #DBDBDB;
}
.page-header > .page-layout {
  padding: 15px 25px;
}
input.solid-input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  background: 0 0;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  background: rgb(250, 250, 250);
  position: relative;
  z-index: 1;
}
input.solid-input:focus {
  background: white;
}
.uploaded-documents {
  padding: 15px 0;
  white-space: nowrap;
  overflow: hidden;
}
.uploaded-documents__item:not(:last-child) {
  margin-bottom: 10px;
}
.uploaded-documents a {
  font-size: 14px;
}
.uploaded-documents__extension {
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #03A9F4;
  background: #03A9F4;
  padding: 2px 2px 4px 2px;
  min-width: 40px;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  line-height: 12px;
}
.uploaded-documents .icon-close {
  font-size: 15px;
  margin-left: 5px;
  color: red;
  cursor: pointer;
}


.uploaded-images {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-top: -1px;
  overflow: hidden;
}

.uploaded-images__container.border {
  border: 3px solid #FFDB4C;
  border-width: 3px 0px;
  height: 162px;
  overflow: hidden;
}

.uploaded-images img {
  display: block;
  width: 150px;
  height: 150px;
}

.uploaded-images a {
  display: inline-block;
  margin: 3px;
  position: relative;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  position: absolute;
}

.uploaded-images a:hover:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  /* border: 4px solid #ffdb4d; */
  background: rgba(70, 70, 70, 0.24);
}


.uploaded-images .icon-close {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0px;
  background: rgba(255, 255, 255, 0.92);
  color: red;
  width: 29px;
  height: 29px;
  text-align: center;
  padding: 3px;
  border-radius: 100px;
  padding: 6px;
  cursor: pointer !important;
}


.uploaded-images .icon-close:hover {
  background: white;
}


.uploaded-images__more:hover {
  color: black;
}


.uploaded-images .flickity-page-dots {
  display: none !important;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.switch-type {
  margin: -5px 0 0 5px;
}


.page-background.gray {
  background: #FAFAFA;
}


[slick] * {
  visibility: hidden;
}

[slick].flickity-enabled * {
  visibility: visible;
}


.uploaded-images__container * {
  visibility: hidden;
}

.uploaded-images__container.flickity-enabled * {
  visibility: visible;
}


.logo_for_not_sign {
  position: absolute;
  left: 13px;
  top: 13px;
  z-index: 2;
}
