.profile-page {}
.profile-page.was_changed {
  padding-bottom: 50px;
}
.profile-info {

  /* padding-right: 0 !important; */
}
.profile-avatar {

  /* max-width: 160px !important; */
  margin: 25px 0 0 18px;
  overflow: hidden;
}
.profile-avatar .md-button {
  margin: 0;
  width: 100%;
  margin-top: 5px;
}
.profile-info md-input-container {
  margin-bottom: 5px;
}
.profile-map {
  height: 280px;
}
.profile-info .md-title, .profile-positions .md-title {
  padding: 5px 17px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.feedback {
  margin: 20px 25px;
  padding-left: 15px;
}
.feedback.positive {
  border-left: 3px solid #4CAF50;
}
.feedback.negative {
  border-left: 3px solid #F44336;
}
.feedback__from {
  font-size: 18px;
}
.feedback.positive .feedback__from {
  color: #4CAF50;
}
.feedback.negative .feedback__from {
  color: #F44336;
}
.feedback__description {
  margin-top: 10px;
}
.feedback__params {
  width: 200px;
  font-size: 16px;
}
.feedback__params table {
  margin: 6px 0;
}
.feedback__params tr {
}
.feedback__params tr td:first-child {
  padding-right: 15px;
  color: #A0A0A0;
}
.feedback__params td {
  padding-bottom: 6px;
}
.feedback__date {
  color: #A0A0A0;
  position: absolute;
  bottom: 3px;
}
.feedback__goto {
  text-decoration: none;
}
.feedback__goto i {
  vertical-align: middle;
}
.feedback__from a {
  font-weight: 500;
}
.feedback.positive .feedback__from a {
  color: #4CAF50;
}
.feedback.negative .feedback__from a {
  color: #F44336;
}
.feedback__left {
  position: relative;
  padding-bottom: 25px;
}

.profile-positions__content {
  min-height: 300px;
  width: 100%;
  padding-top: 10px;
}

.edit-profile-btn {
  background: #FFDB4C;
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.58);
  cursor: pointer;
  border: 1px solid #F3C91E;
}

.edit-profile-btn .icon-pencil {
  padding: 12px;
  display: block;
}

.edit-profile-btn .icon-close {
  padding: 9px;
  font-size: 21px;
  display: block;
}

.edit-profile-btn:hover {
  color: black;
}


.profile-address {
  background: #FAFAFA;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  padding-left: 0;
  margin-bottom: 20px;
  /* margin-top: 20px; */
  /* overflow: auto; */
  /* margin-top: 20px; */
}


.profile-address .icon-marker {
  font-size: 20px;
  margin: 2px;
  text-align: center;
  color: #2278cc;
}

.profile-contacts [class*="icon-"] {
  font-size: 20px;
  margin: 2px;
  text-align: center;
  color: #2278cc;
}

.profile-contacts__phones {
  padding-left: 20px;
  position: relative;
}


.profile-contacts__phones .icon-close {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
  color: red;
  font-size: 18px;
}

.profile-contacts__phones .mb-25 {
  position: relative;
}


.profile-avatar .md-button span {
  left: 35px;
  right: 0;
  position: absolute;
  top: 0;
  font-size: 14px;
}

.profile__footer {
  position: fixed;
  bottom: 0;
  background: white;
  box-shadow: 0px -1px 3px rgba(0,0,0,.12);
  width: 100%;
  z-index: 1;
  max-width: 900px;
  text-align: right;
  padding: 5px;
}