.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.search {
  min-width: 490px;
  max-width: 1000px;
  position: absolute;
  left: 15px;
  right: 25px;
  top: 12px;
  z-index: 4;
  transition: .3s;
}

.search__full {
  right: 20px;
}

.search__full ~ .search__extended__wrapper .search__extended {
    /* top: 104px; */
    right: -5px;
}

.search__full .search__tags.open:before {
    top: 33px;
  
    right: 80px;
    border-width: 0 10px 14px 10px;   
    border-color: transparent transparent rgba(204, 204, 204, 0.38) transparent;
}
.search__full .search__tags.open:after {
    top: 35px;   right: 80px;

    border-width: 0 10px 14px 10px;
    border-color: transparent transparent #fff transparent;
}

.search__form {
  position: relative;
  z-index: 2;
}

.search__input {
  height: 45px;
  position: absolute;
  left: 0;
  right: 80px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.15);
}

.search__input input[type="text"] {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: none;
  box-shadow: 0 0 0 2px white inset;
  transition: box-shadow .3s;
  position: relative;
  z-index: 1;
}

.search__addons {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 4px;
}

.search__addons a {
  position: relative;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #B3B3B3;
  display: inline-block;
  text-decoration: none;
}

.search__addons a:hover, .search__addons a.active {
  color: #777;
}

.search__addons .icon-list {
  font-size: 18px;
}

.search__addons .icon-earth {
  font-size: 18px;
  margin-right: 10px;
  top: 10px;
}

.search__btn {
  height: 45px;
  width: 80px;
  position: absolute;
  right: 2px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.search__btn span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 13px 20px;
}

.search__btn span:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 100%;
  z-index: 1;
  margin-top: -18px;
  border-width: 22px 0 22px 13px;
  border-style: solid;
  line-height: 0;
}

.search__btn:before, .search__btn:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search__btn:before {
  top: 1px;
  right: -7px;
  bottom: 50%;
  left: 7px;
  -webkit-transform: matrix(1, 0, 0.53, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0.53, 1, 0, 0);
  transform: matrix(1, 0, 0.6, 1, 0, 0);
}

.search__btn:after {
  top: 50%;
  right: -7px;
  bottom: 0;
  left: 7px;
  border-bottom-left-radius: 2px;
  -webkit-transform: matrix(1, 0, -0.53, 1, 0, 0);
  -ms-transform: matrix(1, 0, -0.53, 1, 0, 0);
  transform: matrix(1, 0, -0.58, 1, 0, 0);
}

.search__count {
  height: 25px;
  min-width: 387px;
  background: #F0F0F0;
  padding: 7px;
  font-size: 12px;
  color: #6E6E6E;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
  min-width: 100%;
}

.search__count:hover {
  display: inline-block
}

.search__footer {
  position: absolute;
  top: 44px;
  left: 0;
  right: 82px;
  margin-top: -44px;
  transition: 0.3s;
  z-index: 1;
  max-width: 917px;
}

.search__footer.active {
  margin-top: 0;
}

.search__footer.active .search__tags {
  max-height: 1000px;
}

.search__tags {
  position: relative;
  min-width: 387px;
  max-height: 45px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.search__tags .tags {
  border: none; 
}
  
.search__tags .tags__area {
  padding: 6px 5px
;
}

.search__tags .tags_add {
  margin: 6px 5px
}

.search__add-tag:before {
  content: "+";
  display: block;
  height: 26px;
  float: left;
  margin-right: 8px;
  border-right: 1px solid #d7b940;
  font-size: 20px;
  padding: 0 7px 0 8px;
  font-weight: lighter;
}

.search__extended {
  width: 408px;
  position: absolute;
  top: 80px;
  z-index: 4;
  margin-bottom: 10px;
  right: 0;
  margin-top: 18px;
  margin-right: 114px;
  background-color: white;
  visibility: hidden;
  transition: .3s;
  opacity: 0;
}

.search__extended.visible {
  visibility: visible;
  opacity: 1;
}

.search__extended__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
  padding-right: 15px;
  left: 0;
  max-width: 1055px;
  overflow-y: scroll !important;
}

.search__extended md-autocomplete[md-floating-label] md-input-container {
  padding-bottom: 0px;
}

.search__extended md-input-container {
  /* margin-bottom: 0; */
}

.search__extended__footer {
  padding: 6px 10px;
  background: #FAFAFA;
  overflow: hidden;
  text-align: right;
  border-top: 1px solid #E4E4E4;
}

.search__full   .search__extended {
  right: 0;
  left: auto;
  margin-right: 82px;
  margin-top: 23px;
}

.search__form .toggle-nav {
  height: 41px;
  position: absolute;
  z-index: 9;
  margin: -1px 0 0 1px;
  display: block;
  padding: 9px;
  background: white;
  top: 3px;
  left: 0;
}

.page-search {
  position: absolute;
  left: 15px;
  margin: 0;
  right: 102px;
  top: 132px;
  width: auto;
  min-height: 0;
  bottom: 0;
  max-width: 917px;
  z-index: 1;
}

.search-list__result {
  position: absolute;
  top: 85px;
  left: 15px;
  bottom: 0;
  right: 102px;
  /* padding-top: 41px; */
  /* height: 388px; */
  max-width: 917px;
  overflow: hidden;
  margin-top: 46px;
  z-index: 2;
}


.search__extended__tab {
  padding: 13px 0 12px 18px;
  display: block;
  float: left;
  width: 50%;
  font-size: 17px;
  background: rgba(85, 85, 85, 0.06);
  cursor: pointer;
}
.search__extended__tab:first-child {
  box-shadow: -4px -4px 8px -4px rgba(0, 0, 0, 0.19) inset;
}
.search__extended__tab:last-child {
  box-shadow: 4px -4px 8px -4px rgba(0, 0, 0, 0.19) inset;
}

.search__extended__tab.active {
  background: white;
  box-shadow: none;
  cursor: default;
}


.search__extended__tab:not(.active):hover {
  background: rgba(231, 231, 231, 0.23);
}

.search__extended__suitable__position {
  padding: 11px;
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  line-height: 17px;
  position: relative;
}
.search__extended__suitable__position:not(:last-child) {
  border-bottom: 1px solid #E8E8E8;
}


.search__extended__suitable__positions__wrapper {
  height: 360px;
  width: 100%;
  overflow: hidden;
}
.search__extended__suitable__positions {
  height: 360px;
  width: 425px;
  overflow-y: auto;
  overflow-x: hidden;
}


.search__extended__suitable__position:hover {
  background: whitesmoke;
}

.search__extended__suitable__position.active {
  background: whitesmoke;
}


.search__extended__suitable__position__left {
  float: left;
  padding-right: 9px;
}

.search__extended__suitable__position__overflow {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.search__extended__suitable__position b {
  font-weight: 500;
}


.search-list__result__wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  /* max-width: 917px; */
  bottom: 0;
  /* overflow: auto; */
  right: 0;
}


.search-title.md-title {
  position: absolute;
  top: 90px;
  left: 15px;
}


.search-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: whitesmoke;
}
