.noTabPanel {
  width: 100%;
}

.noTabPanel md-tabs-wrapper {
  display: none !important;
}

.tabs {

text-align: center;}


.tab {
  display: inline-block;
  font-size: 16px !important;
  text-transform: inherit !important;
  cursor: pointer;
  /*background: white !important;*/
  border-radius: 0 !important;
  line-height: 30px !important;
  min-height: 30px !important;
  margin: 0 !important;
  min-width: 0 !important;
  color: #656565;
}

.tabs .tab {
  margin: 0 10px 0 0 !important;
}

.tab.active:before {
  border-bottom: 2px solid rgb(253, 90, 62);
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.tabs.yellow .tab.active {
  border-bottom-color: #FFDB4C;
}
.tab .md-ripple-container {
  border-radius: 0 !important;
}


.md-title-tab {
  color: #919191;
  display: inline-block;
  margin-right: 15px;
  font-size: 18px !important;
  cursor: pointer;
}

.md-title-tab:hover,
.md-title-tab.active {
  color: #333;
}


.tab.active {
  color: #333;
}
