/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require oxymoron/normalize
 *= require oxymoron/ng-notify
 *= require oxymoron/perfect-scrollbar
 *= require oxymoron/md-data-table
 *= require angular-material
 *= require_tree .
 *= require_self
 */

@media screen and (max-width: 960px) {
  .sidebar {
    margin-left: -270px;
  }

  .page {
    left: 0;
  }

  .search__input input[type="text"] {
    padding-left: 50px;
  }

  .message-page {
    top: 75px;
  }
}

@media screen and (max-width: 700px) {
  .search__extended {
    left: 0;
    margin-left: 0;
    margin-top: 23px;
  }
}

@media screen and (max-width: 650px) {
  .position-modal__back-text {
    display: block;
  }

  .position-modal__back {
    bottom: auto;
    height: 45px;
    position: absolute;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
  }

  .position-modal__back i {
    display: block;
    flex: none;
    -webkit-flex: none;
    -ms-flex: none;
  }

  .position-modal__offer {
    padding-top: 45px;
  }

  .position-modal__offer__content {
    padding-left: 20px;
  }

}

@media screen and (max-width: 600px) {
  .position-modal__other-offers {
    border: none;
  }

  .position-modal__other-offers__list {
    position: static;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .close {
    right: 15px;
    top: 23px;
  }

  .message-page__contacts {
    margin-left: -275px;
  }

  .message-page__body {
    left: 0;
  }

  .search {
    top: 0;
    left: 0;
    right: 15px;
    min-width: 370px;
  }

  .search__footer, .search__tags {
    min-width: 285px;
  }
}

@media screen and (max-width: 450px) {
  .position-modal__sep {
    margin: 11px 10px;
  }

  .position-modal__rating {
    margin-left: 5px;
  }
}