.table {
  width: 100%;
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0);
  /* overflow: hidden; */
  /* position: relative; */
  /*table-layout: fixed;*/
}

.table > thead > tr > th {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  text-align: left;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
  width: 18px;
  padding: 0 34px;
  width: 1px;
}

.table > thead > tr > th {
  padding: 0 20px;
}

.table > thead > tr > th > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  line-height: 18px;
}

.table > tbody > tr {
  height: 48px;
}

.table > tbody > tr:hover {
  background-color: #fafafa;
}

.table > tbody.active > tr:first-child {
  background-color: #fafafa !important;
}

.table > tbody > tr > td {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  border-top: 1px #C3C3C3 solid;
}

.table > tbody > tr > th {
  padding: 0 28px;
}

.table > tbody > tr > td {
  padding: 8px 20px;
}

.table > tbody > tr > td.btns {
  padding: 0 0 0 28px;
  white-space: nowrap;
}

.table > thead > tr > th:nth-child(2),
.table > tbody > tr > td:nth-child(2) {
  padding-left: 0;
}

.table > tbody > tr > td.numeric {
  white-space: nowrap;
  position: relative;
}

.table > tbody > tr {
  cursor: pointer;
}

.table tbody tr td i {
  font-size: 20px;
}

.table > tbody > tr:nth-child(2) td {
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.15) inset
}

.table > tbody > tr:not(:first-child) {
  background-color: rgba(241, 241, 241, 0.83);
  cursor: default;
}

.table > tbody > tr:not(:first-child) td {
  color: rgba(0,0,0,.7);
}

.table > tbody:last-child > tr td {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

.table > tbody > tr:not(:first-child):hover td {
  color: black;
}

.table-wrapper {
  position: relative;
  padding-top: 45px;
  height: 100%;
}

.table-wrapper-scroll {
  overflow-y: auto;
  height: 100%;
  background: white;
}
.fixed-header td, .fixed-header th {
  padding: 10px 25px;
}

.fixed-header th {
  height: 0;
  line-height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: transparent !important;
  border: none;
  white-space: nowrap !important;
}
.fixed-header th div{
  position: absolute;
  background: transparent;
  color: #575757;
  top: 0px;
  line-height: normal;
}

.fixed-header-shadow th:first-child div {
  /* width: 100%; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.36);
  position: absolute;
  left: 0;
  right: 0;
}


.table .icon-sort-descending, .table .icon-sort-ascending {
  font-size: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

.order {
  cursor: pointer;
  color: #575757;
}

.order * {
  vertical-align: middle;
}

.order:hover, .order.active {
  color: #000;
}

.table-option {
  width: 160px;
}

.table md-progress-linear {
  position: absolute;
}