p Здравствуйте!

p Вами были запрошены инструкции по изменению пароля. Вы можете сделать это через ссылку ниже.

= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)

p Если вы не запрашивали данные инструкции, пожалуйста проигнорируйте это письмо.
p Ваш пароль не будет изменен, пока вы не перейдете по данной ссылке.
