= render "public/landing/first_screen"
= render "public/landing/more_info_first"
= render "public/landing/features"
= render "public/landing/more_info_second"
= render "public/landing/reviews"
= render "public/landing/faq"
= render "public/landing/sign_bottom"